{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-prettier-scss",
    "stylelint-config-standard",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "selector-no-qualifying-type": null,
    "max-nesting-depth": 2,
    "color-hex-length": "long",
    "color-no-invalid-hex": true,
    "at-rule-no-unknown": null,
    "function-no-unknown": null,
    "value-keyword-case": null,
    "import-notation": "string",
    "selector-class-pattern": null,
    "no-invalid-position-at-import-rule": null
  }
}
