<div class="about" id="about-monument">
    <div class="about__img">
        <img src="./assets/images/1.jpg" alt="foto Obelisco" />
    </div>
    <div class="about__text">
        <h1>Obelisco | Meta - Colombia</h1>
        <p class="text text--first">
            El Obelisco, centro geográfico de Colombia está ubicado en el
            <em>Alto de Menegua</em> Kilometro 5 vía a Puerto Gaitán, que como
            lo dice su nombre es la zona más alta de Puerto López.
        </p>
        <p class="text">
            El <strong> Obelisco</strong> es una obra del Maestro Miguel Roa
            Iregui, hecha en Metal, Concreto, Terracota y Cerámica; Realizada en
            el año de 1993.
        </p>
        <p class="text">
            El significado de cada imagen no deja de asombrar, la cara que da al
            oriente marca el centro geográfico; la segunda se relaciona con el
            folclor llanero; la tercera representa la riqueza étnica y biológica
            del Llano y la cuarta la agroindustria. En su base, sobre el piso
            central se encuentra el mapa de Colombia cruzado por las coordenadas
            que determinan el ombligo de nuestro país.
        </p>

        <p class="text">
            Desde allí, la inigualable imagen que se define con el crepúsculo
            enamora a propios y turistas que llegan al Alto de Menegua para
            contemplar la belleza del paisaje llanero, el lugar para descubrir
            un ocaso multicolor que despide la travesía de los caporales.
        </p>
    </div>
</div>
