<div class="more" id="more-info">
    <h1>Descubre más sobre este mágico lugar</h1>
    <div class="more__cards">
        <div class="cards__card">
            <h3>
                Alto de Menegua, el punto para divisar la belleza del paisaje
                llanero
            </h3>
            <p>
                Siguiendo la denominada ‘ruta del amanecer llanero’, 86
                kilómetros al oriente del departamento del Meta, y luego de
                aproximadamente una hora de viaje desde Villavicencio y tres
                horas y media desde Bogotá, es posible llegar al Alto de
                Menegua, llamado el ‘ombligo de Colombia’, un sitio ubicado en
                el municipio de Puerto López, el primer puerto fluvial de los
                Llanos Orientales.
            </p>

            <a
                href="https://www.radionacional.co/cultura/turismo/sitios-turisticos-en-los-llanos-alto-de-menegua-en-el-meta"
            >
                Ver más
            </a>
        </div>
        <div class="cards__card">
            <h3>Puerto López, mirador del mar verde de Colombia</h3>
            <p>
                Siguiendo la ruta del Amanecer Llanero 86 kilómetros al Oriente
                del departamento del Meta, la carretera 40 lo llevará de
                Villavicencio a el ‘ombligo de Colombia’ como se denomina a
                Puerto López, el primer puerto fluvial de los llanos.
            </p>

            <a
                href="https://periodicodelmeta.com/puerto-lopez-mirador-del-mar-verde-de-colombia/"
            >
                Ver más
            </a>
        </div>
        <div class="cards__card">
            <h3>
                ¿Qué hay para hacer en Puerto López, el ombligo de Colombia?
            </h3>
            <p>
                Hay ciudades como Puerto López que no suelen estar en la
                imaginación de los viajeros. Y es que el “Ombligo de Colombia”,
                como se le conoce a este municipio del departamento del Meta, es
                una joya turística en constante cambio a la que hay que visitar
                una y otra vez para disfrutar de su evolución. Por eso algunos
                viajeros se atreven a llamarla: la ciudad de la imaginación.
            </p>

            <a
                href="https://revistadiners.com.co/estilo-de-vida/viajes/121520_que-hay-para-hacer-en-puerto-lopez-el-ombligo-de-colombia/"
            >
                Ver más
            </a>
        </div>
    </div>
</div>
